*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}
:root{
    /* cor */
    --color-primario: #FAD1D9;
    --color-secundario: #4C000F;
    /* texto */
    --fonte-padrao: 'Playfair Display';
    --tamanho-fonte-padrao: 27px;
    --tamanho-fonte-secundario: 8px;
    /* --tamanho-fonte-titulo: 12px; */
    --texto-primario: #000000;
}
header{
    margin-bottom: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FAD1D9;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid var(--color-secundario);
}
.Login{
    font-size: var(--tamanho-fonte-secundario);
    text-align: center;

}   
.Logo{

}
.card{
    display: flex;
    margin-top: 20px;
}
